{{#team}}
  <div class="team">
    <h1{{#isActive}} class="active"{{/isActive}}>{{name}}</h1>
    {{#mas}}
      <div class="mitarbeiter">
        {{name}}
      </div>
    {{/mas}}
  </div>
{{/team}}
